version: '2.4'
services:
  app:
    build:
      args:
        NPM_TOKEN: ${NPM_TOKEN}
      context: .
    command: yarn dev
    depends_on:
      - postgres
    env_file:
      - .env.default
    mem_reservation: "512m"
    ports:
      - 3000

  aggregators:
    image: es_app
    command: yarn dev:aggregators
    depends_on:
      - postgres
    env_file:
      - .env.default
    mem_reservation: "256m"

  mongo:
    image: mongo
    restart: always
    # environment:
    #   MONGO_INITDB_ROOT_USERNAME: root
    #   MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    # environment:
    #   ME_CONFIG_MONGODB_ADMINUSERNAME: root
    #   ME_CONFIG_MONGODB_ADMINPASSWORD: example

  postgres:
    image: ethangarofolo/message-db:1.1.6
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    expose:
      - '5432'
